- intervals = Music::Intervals.new(:key_note => "C")
%table
  %tr
    %th Step
    %th Interval
    %th{:colspan => 13} Keys
  - 13.times do |note_step|
    %tr
      %td= note_step
      %td= intervals.step_to_interval(note_step)
      - 12.times do |key_step|
        %td= intervals.step_to_note(note_step + key_step)
